<div [ngSwitch]="playerService.playerCount">
  <div *ngSwitchCase="2">
    <div  id="playerOne" class="player"> <b>P</b> </div>
    <div  id="playerTwo" class="player"> <b>P</b> </div>
  </div>
  <div *ngSwitchCase="3">
    <div  id="playerOne" class="player"> <b>P</b> </div>
    <div  id="playerTwo" class="player"> <b>P</b> </div>
    <div  id="playerThree" class="player"> <b>P</b> </div>
  </div>
  <div *ngSwitchCase="4">
    <div  id="playerTwo" class="player"> <b>P</b> </div>
    <div  id="playerOne" class="player"> <b>P</b> </div>
    <div  id="playerFour" class="player"> <b>P</b> </div>
    <div  id="playerThree" class="player"> <b>P</b> </div>
  </div>
</div>
