<button class="buttons" (click) ="playerService.selectBlue()" > Blauer Spieler </button>
<br />
<button class="buttons" (click) ="playerService.selectRed()"> Roter Spieler </button>
<br />
<button class="buttons" (click) ="playerService.selectYellow()"> Gelber Spieler </button>
<br />
<button class="buttons" (click) ="playerService.selectGreen()"> Grüner Spieler </button>
<br />
<button class="buttons" (click) ="playerService.reset()"> Neustart </button>
<br /><br />
<div [ngStyle]="{'background-color': playerService.playerBlue.color}" id="playerBlue" class="player"></div>
<div [ngStyle]="{'background-color': playerService.playerRed.color}" id="playerRed" class="player"></div>
<div [ngStyle]="{'background-color': playerService.playerGreen.color}" id="playerGreen" class="player"></div>
<div [ngStyle]="{'background-color': playerService.playerYellow.color}" id="playerYellow" class="player"></div>
