.player{
    z-index: 1;
    position: absolute;
  	border-radius: 50%;
    width: calc(100%/20);
    height: calc(100%/20);
}
#playerOne{
  top: calc(50%/7 - 100%/40);
  left: calc(50%/7 - 100%/40);
}
#playerTwo{
	top: calc(650%/7 - 100%/40);
	left: calc(650%/7 - 100%/40);
}
#playerThree{
	top: calc(50%/7 - 100%/40);
	left: calc(650%/7 - 100%/40);
}
#playerFour{
  top: calc(650%/7 - 100%/40);
  left: calc(50%/7 - 100%/40);
}
