<div class="spare-pad-area">
  <div *ngIf="_playerTargetsService.playerCount != null" class="spare-pad-container">
    <div id="spare-pad" class="pad spare-pad" draggable="true" (dragstart)="drag($event)" (dragend)="endDrag()">
      <img src="{{_padsService.sparePad.imgSource}}" class="rotation-case{{_padsService.sparePad.rotationCase}}" alt="Textur">
    </div>
    <div *ngIf="((_padsService.sparePadDragged && !_padsService.isMoving)||(_padsService.sparePadDropped && _padsService.isMoving))" class="pad curtain">
    </div>
    <button type="button" name="rotate" (click)="_padsService.rotatePad(_padsService.sparePad)">Rotate spare pad</button>
  </div>
</div>
