.border-area {
  width: 100%;
  height: 100%;
}

.pad-insertion-area {
  position: absolute;
  width: calc(100%/9);
  height: calc(100%/9);
  box-sizing: border-box;
  border: 2px dashed;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}

.enabled {
  border-color: grey;
  color: grey;
}

.disabled {
  border-color: red;
  color: red;
}

.hide {
  opacity: 0;
}

.hrz-first {
  left: 0;
}

.hrz-second {
  left: calc(200%/9);
}

.hrz-third {
  left: calc(400%/9);
}

.hrz-fourth {
  left: calc(600%/9);
}

.hrz-fifth {
  left: calc(800%/9);
}

.vrt-first {
  top: 0;
}

.vrt-second {
  top: calc(200%/9)
}

.vrt-third {
  top: calc(400%/9)
}

.vrt-fourth {
  top: calc(600%/9)
}

.vrt-fifth {
  top: calc(800%/9)
}
