p{
  color: white;
  font-weight: bold;
  padding-top: 45%;
  text-align: center;
  font-size: 150%;
  height: 260px;
  width: 100%;
  border-radius: 30px;
}
.counter{
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  background-color: none;
}
.target-area{
  width: 180px;
  height: 260px;
  border-radius: 30px;
}
.target-areas{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#one{
  background-color: #af0f0f;
  border:15px solid #af0f0f;
}
#two{
  background-color: #316fb2;
  border:15px solid #316fb2;
}
#three{
  background-color: #d8a729;
  border:15px solid #d8a729;
}
#four{
  background-color: #2f9b23;
  border:15px solid #2f9b23;
}
