.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #222326;
}
.btn {
  position: relative;
  border-color: #222326;
  background-color: #222326;
  color: #b8bac1;
  border-radius: 25px;
  margin-top: 10%;
  margin-left: 19%;
}
