<div class="playing-board" [ngClass]="(_padsService.sparePadDragged) ? 'drag-state' : ''">
  <div *ngFor="let pad of _padsService.gridRep" class="pad row{{pad.row}} col{{pad.col}}">
    <img src="{{pad.imgSource}}" class="rotation-case{{pad.rotationCase}}" alt=" Textur ">
  </div>
  <div *ngIf="_padsService.sparePadDropped" class="pad spare-pad row{{_padsService.sparePad.row}} col{{_padsService.sparePad.col}} rotation-case{{_padsService.sparePad.rotationCase}} ">
    <img src="{{_padsService.sparePad.imgSource}} " alt="Textur ">
  </div>
</div>
