/*For board*/

.playing-board {
  position: absolute;
  left: calc(100%/9);
  top: calc(100%/9);
  width: calc(700%/9);
  height: calc(700%/9);
  background-image: url("../../assets/img/playing-board-small-lightblue.png");
  background-size: cover;
}

/* position all pads */

.row0 {
  top: calc(-100%/7);
}

.row1 {
  top: 0;
}

.row2 {
  top: calc(100%/7);
}

.row3 {
  top: calc(200%/7);
}

.row4 {
  top: calc(300%/7);
}

.row5 {
  top: calc(400%/7);
}

.row6 {
  top: calc(500%/7);
}

.row7 {
  top: calc(600%/7);
}

.row8 {
  top: 100%;
}

.col0 {
  left: calc(-100%/7);
}

.col1 {
  left: 0;
}

.col2 {
  left: calc(100%/7);
}

.col3 {
  left: calc(200%/7);
}

.col4 {
  left: calc(300%/7);
}

.col5 {
  left: calc(400%/7);
}

.col6 {
  left: calc(500%/7);
}

.col7 {
  left: calc(600%/7);
}

.col8 {
  left: 100%;
}

/* End of positioning */
