<div *ngIf="_playerService.playerCount == null" class="button-area">
<div class="overlay"></div>
<div class="PlayerCountButtons">
      <p>
        <b>Wähle eine Spieleranzahl aus!</b>
      </p>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCount(2)"> 2 Spieler </button>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCount(3)"> 3 Spieler </button>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCount(4)"> 4 Spieler </button>
  </div>
</div>
