<div *ngIf="_playerService.playerCount == null" class="button-area">
<div class="overlay"></div>
<div class="PlayerCountButtons">
      <p>
        <b>Wähle eine Spieleranzahl aus!</b>
      </p>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCountTwo()"> 2 Spieler </button>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCountThree()"> 3 Spieler </button>
    <button class="btn btn-primary" (click)="_playerService.setPlayerCountFour()"> 4 Spieler </button>
  </div>
</div>
