
.pushBtn {
    font-weight: bold;
    font-size: 100%;
    width: 100%;
    height: 41px;
    background: none;
    border: 5px solid #5cb85c;
	  color: #5cb85c;
    border-radius: 24px;
    box-shadow: none;
  }


.btn-success{
  font-weight: bold;
  font-size: 100%;
  width: 100%;
  height: 40px;
  border-radius: 24px;
}

.nextPlayerArea{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
