/*For board*/

.board {
  position: relative;
  width: 602px;
  height: 602px;
  background-image: url("../../assets/img/playing-board.png");
  background-size: cover;
}

.pad {
  position: absolute;
  left: 1000px;
  top: 500px;
  width: 86px;
  height: 86px;
}

.pad img {
  width: 86px;
  height: 86px;
}

/* position all pads */

.pad.row1 {
  top: 0;
}

.pad.row2 {
  top: calc(100%/7);
}

.pad.row3 {
  top: calc(200%/7);
}

.pad.row4 {
  top: calc(300%/7);
}

.pad.row5 {
  top: calc(400%/7);
}

.pad.row6 {
  top: calc(500%/7);
}

.pad.row7 {
  top: calc(600%/7);
}

.pad.col1 {
  left: 0;
}

.pad.col2 {
  left: calc(100%/7);
}

.pad.col3 {
  left: calc(200%/7);
}

.pad.col4 {
  left: calc(300%/7);
}

.pad.col5 {
  left: calc(400%/7);
}

.pad.col6 {
  left: calc(500%/7);
}

.pad.col7 {
  left: calc(600%/7);
}

/* End of positioning */

.move-row-right {
  transform: translateX(86px);
}

.move-row-left {
  transform: translateX(-86px);
}

.move-col-right {
  transform: translateY(86px);
}

.move-col-left {
  transform: translateY(-86px);
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}
